*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// container
.container{
    width: $wide_container;
    margin: auto;
}

.container__small{
    width: $wide_container;
    margin: auto;
}

// bottoni

.blue__button{
    @include blue_button;
}

.transparent__button{
    @include tr_button;
}

