.sup__nav{
    height: 60px;
    background-color: white;
    @include dispose_justify;
    align-items: center;

    & img{
        height: 50%;
    }

    & ul{
        @include dispose_justify;
        list-style: none;
        
        & li{
            margin: 0 5px;
        }
    }

}

.inf__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    & ul{
        display: flex;
        list-style: none;

        & li{
            margin: 0 15px;
        }
    }

}