// colori

$primar_color: #1473e6;

// larghezze altezze
$wide_container: 1280px;
$regular_container: 800px;
$hero_height: 750px;

// disposizione con flex

@mixin dispose_justify {
    display: flex;
    justify-content: space-between;
}

// background

@mixin background_hero {
    width: 100%;
    height: $hero_height;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://cc-prod.scene7.com/is/image/CCProdAuthor/dt-ps-max-poster-image?$pjpeg$&jpegSize=300&wid=1440");
}

// bottoni

@mixin blue_button {
    background-color: $primar_color;
    border-radius: 20px;
    border: none;
    padding: 7px 10px;
    color: white;
}

@mixin tr_button {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid white;
    padding: 7px 10px;
    color: white;
}